In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 100)

In [2]:
from google.oauth2 import service_account
from google.cloud import bigquery
import pandas_gbq

credentials = service_account.Credentials.from_service_account_file("credential_bi-dashboard-dev.json")
project_id = "bi-dashboard-dev"
client = bigquery.Client(credentials=credentials, project=project_id)

In [3]:
query = """
select * from bkba.bkba_merge_data
"""

bkba = pandas_gbq.read_gbq(query,project_id=project_id, credentials=credentials)

Downloading: 100%|██████████|

# chatbot

In [4]:
import psycopg2

conn = psycopg2.connect(
    database="chatbot-production", 
    user="support", 
    password="rGFLwQEFTHkqkdoDIWIU8R4PS2AqkItdJqoqr4eU", 
    host="34.101.40.44", 
    port="5432")

In [2]:
cht_user = pd.read_excel("E:/Project/Data Science/dataset/chatbot/user.xlsx")
cht_user.head(3)

    id     name  activity_status  role_id  dept_id  token_active
0    1  Agent A                0        3        1             0
1    2  Agent B                0        3        1             1
2    3  Agent C                1        3        1             1
3    4  Agent D                1        3        2             0
4    5  Agent E                0        3        2             1
5    6  Agent F                1        3        2             0
6    7  Agent G                0        3        3             0
7    8  Agent H                1        3        3             0
8    9  Agent I                1        3        3             1
9   10  Agent J                1        3        4             0
10  11  Agent K                1        3        4             1
11  12  Agent L                1        3        4             0

In [5]:
chatbot = pd.read_excel("E:/Project/Data Science/dataset/chatbot/summary_ticket.xlsx")
chatbot.head(3)

,id,priority,subject,state,ticket_type,status,message,created_at,modified_at,channel,...,jam,menit,detik,respon_duration,topicname,kotakab,tagname,create_at_etl,service_rating,application_rating
0,5691,Low,NaN,NaN,NaN,Solved,NaN,2023-02-13 20:15:37,2023-02-15 21:35:28,whatsapp,...,NaN,NaN,NaN,NaN,e-RKAM / EDM / Bos Madrasah,Berau/kaltim,NaN,2023-06-05 05:00:05,NaN,NaN
1,7340,Low,NaN,NaN,NaN,Solved,NaN,2023-02-20 11:07:31,2023-02-21 18:42:00,whatsapp,...,NaN,NaN,NaN,NaN,e-RKAM / EDM / Bos Madrasah,RAJADESA/CIAMIS/JAWA BARAT,NaN,2023-06-05 05:00:05,NaN,NaN
2,7343,Low,NaN,NaN,NaN,Solved,NaN,2023-02-20 11:07:43,2023-02-21 18:42:25,whatsapp,...,NaN,NaN,NaN,NaN,e-RKAM / EDM / Bos Madrasah,Tanjung Morawa,NaN,2023-06-05 05:00:05,NaN,NaN

In [3]:
cht_dept = pd.read_excel("E:/Project/Data Science/dataset/chatbot/department.xlsx")
cht_dept.head(3)

   id          name
0   1  Department A
1   2  Department B
2   3  Department C
3   4  Department D

In [5]:
query = """
select * from "user"
"""

cht_user = pd.read_sql(query, conn)

C:\Users\reyha\AppData\Local\Temp\ipykernel_29800\2450266758.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cht_user = pd.read_sql(query, conn)

In [13]:
query = """
select * from "department"
"""

cht_dept = pd.read_sql(query, conn)

C:\Users\reyha\AppData\Local\Temp\ipykernel_29800\339973853.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cht_dept = pd.read_sql(query, conn)

In [6]:
cht_user.to_excel('E:/Project/Data Science/dataset/chatbot/user.xlsx',index=False, sheet_name='user')

In [14]:
cht_dept.to_excel('E:/Project/Data Science/dataset/chatbot/department.xlsx',index=False, sheet_name='department')

In [8]:
query = """
select * from chatbot.merge_summary_ticket
"""

chatbot = pandas_gbq.read_gbq(query,project_id=project_id, credentials=credentials)

Downloading: 100%|██████████|

In [20]:
for i in chatbot.select_dtypes('datetime').columns:
    # chatbot[i] = chatbot[i].dt.strftime('%Y-%m-%d %H:%M:%S')
    print(i)

In [9]:
for column in chatbot.columns:
    if pd.api.types.is_datetime64_any_dtype(chatbot[column]):
        chatbot[column] = chatbot[column].dt.strftime('%Y-%m-%d %H:%M:%S')

In [24]:
chatbot.to_excel('E:/Project/Data Science/dataset/chatbot/summary_ticket.xlsx',index=False, sheet_name='summary_ticket')

In [11]:
# Define the range of names for the "agent" column
agent_names = [1,2,3,4,5,6,7,8,9,10,11,12]

# Generate random indices for the "agent" column
agent_indices = np.random.randint(0, len(agent_names), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["agent_id"] = [agent_names[i] for i in agent_indices]

In [16]:
# Define the range of names for the "agent" column
channel_name = ["whatsapp", "facebook", "instagram", "twitter"]

# Generate random indices for the "agent" column
channel_indices = np.random.randint(0, len(channel_name), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["channel"] = [channel_name[i] for i in channel_indices]

In [21]:
# Define the range of names for the "agent" column
topic_name = ["Topic A", "Topic B", "Topic C", "Topic D", "Topic E",
                "Topic F", "Topic G", "Topic H", "Topic I", "Topic J"]

# Generate random indices for the "agent" column
topic_ind = np.random.randint(0, len(topic_name), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["topicname"] = [topic_name[i] for i in topic_ind]

In [22]:
# Define the range of names for the "agent" column
Tag_name = ["Tag A", "Tag B", "Tag C", "Tag D", "Tag E",
                "Tag F", "Tag G", "Tag H", "Tag I", "Tag J"]

# Generate random indices for the "agent" column
Tag_ind = np.random.randint(0, len(Tag_name), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["tagname"] = [Tag_name[i] for i in Tag_ind]

In [23]:
# Define the range of names for the "agent" column
City_name = ["City A", "City B", "City C", "City D", "City E",
                "City F", "City G", "City H", "City I", "City J"]

# Generate random indices for the "agent" column
City_ind = np.random.randint(0, len(City_name), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["kotakab"] = [City_name[i] for i in City_ind]

In [ ]:
from faker import Faker
import random

fake = Faker()
random_names = []

while len(random_names) < 1000:
    name = fake.name()
    if name not in random_names:
        random_names.append(name)

In [31]:
# Define the range of names for the "agent" column
customer_name = random_names

# Generate random indices for the "agent" column
customer_ind = np.random.randint(0, len(customer_name), size=len(chatbot))

# Assign random agent names to the "agent" column based on the generated indices
chatbot["customername"] = [customer_name[i] for i in customer_ind]

In [19]:
# chatbot_bu = chatbot.copy()

In [32]:
chatbot.head(3)

,id,priority,subject,state,ticket_type,status,message,created_at,modified_at,channel,department,agent_id,agentname,role_id,rolename,customername,sla,chat_end,start_duration,chat_duration,new_created_at,open_created_at,hari,jam,menit,detik,respon_duration,topicname,kotakab,tagname,create_at_etl,service_rating,application_rating
0,5691,Low,NaN,NaN,NaN,Solved,NaN,2023-02-13 20:15:37,2023-02-15 21:35:28,whatsapp,NON EMIS Department,4,Elen,3,Agent,Robert Hayes,NaN,NaN,NaN,NaN,2023-02-15 21:35:28,NaN,NaN,NaN,NaN,NaN,NaN,Topic B,City G,Tag I,2023-06-05 05:00:05,NaN,NaN
1,7340,Low,NaN,NaN,NaN,Solved,NaN,2023-02-20 11:07:31,2023-02-21 18:42:00,facebook,NON EMIS Department,3,Elen,3,Agent,Jonathan Morris,NaN,NaN,NaN,NaN,2023-02-21 18:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Topic B,City A,Tag B,2023-06-05 05:00:05,NaN,NaN
2,7343,Low,NaN,NaN,NaN,Solved,NaN,2023-02-20 11:07:43,2023-02-21 18:42:25,facebook,NON EMIS Department,4,Elen,3,Agent,Glenn Osborne,NaN,NaN,NaN,NaN,2023-02-21 18:42:25,NaN,NaN,NaN,NaN,NaN,NaN,Topic J,City H,Tag D,2023-06-05 05:00:05,NaN,NaN

In [36]:
chatbot.drop(columns=['agentname','department'],inplace=True)

# bkba